<container >
  <h1>Ajouter un nouveau médecin du travail</h1>

  <%= simple_form_for @medecin do |f| %>
  <form >
  <div class="form-row" style="margin: 40px;">
    <div class="form-group col-md-4">
      <%= f.input :nom, type: "Nom", class: "form-control", placeholder: "Nom", label: false%>
    </div>
    <div class="form-group col-md-4">
      <%= f.input :prenom, type: "Prenom", class: "form-control", placeholder: "Prenom", label: false%>
    </div>
    <div class="form-group col-md-4">
      <%= f.input :sexe, as: :radio_buttons, collection: ['M', 'F'] %>
    </div>

  </div>
  <div class="form-row" style="margin: 40px;">
    <div class="form-group col-md-4">
      <%= f.input :rue, type: "Rue", class: "form-control", placeholder: "Rue", label:"Numéro et rue", label: false%>
    </div>
    <div class="form-group col-md-4">
      <%= f.input :complementrue, type: "Rue", class: "form-control", placeholder: "Rue", label:"Complément d'adresse", label: false%>
    </div>
    <div class="form-group col-md-4">
      <%= f.input :codepostal, type: "Codepostal", class: "form-control", placeholder: "Code postal", label: false%>
    </div>


  </div>
  <div class="form-row" style="margin: 40px;">
    <div class="form-group col-md-4">
      <%= f.input :ville, type: "Ville", class: "form-control", placeholder: "Ville", label: false%>
    </div>
    <div class="form-group col-md-4">
      <%= f.input :email, type: "Email", class: "form-control", placeholder: "Email", label: false%>
    </div>
    <div class="form-group col-md-4">
      <%= f.input :telephone, type: "Telephone", class: "form-control", placeholder: "Téléphone", label: false%>
    </div>

  </div>


  <div class="form-row" style="margin: 40px;">
    <div class="form-group col-md-4">
      <%= f.input :siret, type: "Siret", class: "form-control", placeholder: "Numéro de SIRET", label: false%>
    </div>
    <div class="form-group col-md-4">
      <%= f.input :siseri, type: "Siseri", class: "form-control", placeholder: "Numéro SISERI", label: false%>
    </div>
    <div class="form-group col-md-4">
      <%= f.input :rpps, type: "Rpps", class: "form-control", placeholder: "Numéro RPPS", label: false%>
    </div>

  </div>

  <button type="submit" class="btn btn-primary" style="margin: 40px;">Ajouter</button>
  <a href="<%=medecins_path%>" class="btn btn-danger" >Retour</a>
</form>
<%end%>
</container>
