<h6><%= etablissement.nom%> </h6>
<p><%= etablissement.address %></p>
<img src="https://maps.googleapis.com/maps/api/streetview?size=200x200&location=<%=etablissement.latitude%>,<%=etablissement.longitude%>
&fov=80&heading=70&pitch=0
&key=<%=ENV['GOOGLE_API_KEY'] %>">
<a href="<%=etablissement_path(etablissement)%>" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Voir</a>
<a href="<%=edit_etablissement_path(etablissement)%>" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Modifier</a>
