<div class="card text-center" style="margin: 40px;">

  <div class="card-body">
    <h2 class="card-title">Résultat de la recherche</h2>


      <%= form_tag search_path, method: :get do %>
  <%= text_field_tag :"q[nom_or_ville_or_prenom_cont]" %>
  <%= submit_tag "Search", data: { disable_with: "Searching..." }%>
<% end %>
  </div>
  <div class="card-footer text-muted">
    Aujourd'hui nous sommes le <%= Time.now.strftime("%d/%m/%Y") %>
  </div>
</div>

<% if @items.any? %>


  <div class="card text-center" style="margin: 40px;">

  <div class="card-body">
    <h3 class="card-title">Nombre de résultats (<%= @items.length %>):</h3>

  </div>

</div>



  <div class="row row-cols-1 row-cols-md-3" style="margin: 40px;">
  <% @items.each do |adherent| %>
  <div class="col mb-4">
  <div class="card">
    <img src="https://maps.googleapis.com/maps/api/streetview?size=300x300&location=<%=adherent.latitude%>,<%=adherent.longitude%>&fov=80&heading=70&pitch=0&key=<%=ENV['GOOGLE_API_KEY']%>" class="card-img-top" alt="...">
    <div class="card-body ">
      <h5 class="card-title">Dr <%=adherent.prenom.capitalize%> <%=adherent.nom.upcase%></h5>
      <p class="card-text"><%=adherent.address%></p>
      <p class="card-text">RCP : <%=adherent.pcr%></p>

      <a href="<%=adherent_path(adherent)%>" class="btn btn-secondary btn-sm" role="button" aria-pressed="true" style="margin: 10px;">Voir l'adhérent</a>
      <a href="<%=etablissement_path(adherent.etablissement_id)%>" class="btn btn-secondary btn-sm" role="button" aria-pressed="true" style="margin: 10px;">Voir l'établissement</a>

    </div>
  </div>
</div>
  <% end %>
</div>
<% else %>
  Results not found :(
<% end %>






