<container style="margin: 40px;">


<div class="card text-center" style="margin: 40px;">

  <div class="card-body">
    <h2 class="card-title">Liste des adhérents</h2>
    <form style="margin: 40px;">
      <input type="search" class="form-control" id="" placeholder="Rechercher un adhérent ou un établissement" style="margin: 10px;">
      <button type="submit" class="btn btn-primary"  style="margin: 10px;">Chercher</button>
    </form>
    <a href="#" class="btn btn-danger">Nouvel adhérent</a>
  </div>

</div>

<div style="margin: 40px;">
      <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin: 40px;">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-tous-tab" data-toggle="pill" href="#pills-tous" role="tab" aria-controls="pills-tous" aria-selected="true">Tous</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-nord-tab" data-toggle="pill" href="#pills-nord" role="tab" aria-controls="pills-nord" aria-selected="false">Nord</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-pdc-tab" data-toggle="pill" href="#pills-pdc" role="tab" aria-controls="pills-pdc" aria-selected="false">Pas-de-Calais</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-somme-tab" data-toggle="pill" href="#pills-somme" role="tab" aria-controls="pills-somme" aria-selected="false">Somme</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-aisne-tab" data-toggle="pill" href="#pills-aisne" role="tab" aria-controls="pills-aisne" aria-selected="false">Aisne</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-oise-tab" data-toggle="pill" href="#pills-oise" role="tab" aria-controls="pills-oise" aria-selected="false">Oise</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">



  <div class="tab-pane fade show active" id="pills-tous" role="tabpanel" aria-labelledby="pills-tous-tab">

    <%= render 'shared/indexadh'%>

  </div>


  <div class="tab-pane fade" id="pills-nord" role="tabpanel" aria-labelledby="pills-nord-tab">

      <% @adherentstri = Adherent.where(departement: "Nord").order(:nom)%>

        <%= render 'shared/indexadhtri'%>


  </div>


  <div class="tab-pane fade" id="pills-pdc" role="tabpanel" aria-labelledby="pills-pdc-tab">
      <%@adherentstri = Adherent.where(departement: "Pas de Calais").order(:nom)%>
      <%= render 'shared/indexadhtri'%>


  </div>


  <div class="tab-pane fade" id="pills-somme" role="tabpanel" aria-labelledby="pills-somme-tab">
    <%@adherentstri = Adherent.where(departement: "Somme").order(:nom)%>
      <%= render 'shared/indexadhtri'%>

  </div>

  <div class="tab-pane fade" id="pills-aisne" role="tabpanel" aria-labelledby="pills-aisne-tab">
    <%@adherentstri = Adherent.where(departement: "Aisne").order(:nom)%>
      <%= render 'shared/indexadhtri'%>

  </div>

  <div class="tab-pane fade" id="pills-oise" role="tabpanel" aria-labelledby="pills-oise-tab">
    <%@adherentstri = Adherent.where(departement: "Oise").order(:nom)%>
      <%= render 'shared/indexadhtri'%>

  </div>

</div>







</container>
